//
//  CoinMarketApiKey.xcconfig
//  Mobit
//
//  Created by 조성재 on 5/25/25.
//

// Configuration settings file format documentation can be found at:
// https://help.apple.com/xcode/#/dev745c5c974

COIN_MARKET_CAP_API_KEY = 101fdf9b-56b2-4600-ae1c-1a7947b55dfd
UPBIT_ACCESS_KEY = 28Pz6fbtcdVhiUcxXBs78AFO0R0zhpmLpB1DXJd2
UPBIT_SECRET_KEY = LTS2ejvKR4LpLDOv3obev6QpP9O2nTRzP3INNsIa
